<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateno.booking.mapper.GsOrderInnExternalMapper">

	<insert id="addEntity">
		insert into gs_order_inn_external(order_code,member_id,external_id,third_order_id,create_time,create_oprt,update_time,update_oprt,inn_id,third_order_state,room_no,arr_date,dep_date,ext,pay_state) values(#{orderCode},#{memberId},#{externalId},#{thirdOrderId},#{createTime},#{createOprt},#{updateTime},#{updateOprt},#{innId},#{thirdOrderState},#{roomNo},#{arrDate},#{depDate},#{ext},#{payState})
	</insert>

	<delete id="deleteEntity">
		delete from gs_order_inn_external where inn_id = #{innId}
	</delete>

	<update id="updateEntity">
		update gs_order_inn_external
		<set>
			<if test="orderCode != null">
				order_code = #{orderCode},
			</if>
			<if test="memberId != null">
				member_id = #{memberId},
			</if>
			<if test="externalId != null">
				external_id = #{externalId},
			</if>
			<if test="thirdOrderId != null">
				third_order_id = #{thirdOrderId},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="createOprt != null">
				create_oprt = #{createOprt},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="updateOprt != null">
				update_oprt = #{updateOprt},
			</if>
			<if test="innId != null">
				inn_id = #{innId},
			</if>
			<if test="thirdOrderState != null">
				third_order_state = #{thirdOrderState},
			</if>
			<if test="roomNo != null">
				room_no = #{roomNo},
			</if>
			<if test="arrDate != null">
				arr_date = #{arrDate},
			</if>
			<if test="depDate != null">
				dep_date = #{depDate},
			</if>
			<if test="ext != null">
				ext = #{ext},
			</if>
			<if test="payState != null">
				pay_state = #{payState},
			</if>
		</set>
		where inn_id = #{innId}
	</update>

	<select id="findEntity" resultType="com.plateno.booking.model.GsOrderInnExternal">
		select
		order_code AS orderCode,
		member_id AS memberId,
		external_id AS externalId,
		third_order_id AS thirdOrderId,
		create_time AS createTime,
		create_oprt AS createOprt,
		update_time AS updateTime,
		update_oprt AS updateOprt,
		inn_id AS innId,
		third_order_state AS thirdOrderState,
		room_no AS roomNo,
		arr_date AS arrDate,
		dep_date AS depDate,
		ext AS ext,
		pay_state AS payState
		from gs_order_inn_external
		where 1 = 1
		<if test="orderCode != null">
			and order_code = #{orderCode}
		</if>
		<if test="memberId != null">
			and member_id = #{memberId}
		</if>
		<if test="externalId != null">
			and external_id = #{externalId}
		</if>
		<if test="thirdOrderId != null">
			and third_order_id = #{thirdOrderId}
		</if>
		<if test="createTime != null">
			and create_time = #{createTime}
		</if>
		<if test="createOprt != null">
			and create_oprt = #{createOprt}
		</if>
		<if test="updateTime != null">
			and update_time = #{updateTime}
		</if>
		<if test="updateOprt != null">
			and update_oprt = #{updateOprt}
		</if>
		<if test="innId != null">
			and inn_id = #{innId}
		</if>
		<if test="thirdOrderState != null">
			and third_order_state = #{thirdOrderState}
		</if>
		<if test="roomNo != null">
			and room_no = #{roomNo}
		</if>
		<if test="arrDate != null">
			and arr_date = #{arrDate}
		</if>
		<if test="depDate != null">
			and dep_date = #{depDate}
		</if>
		<if test="ext != null">
			and ext = #{ext}
		</if>
		<if test="payState != null">
			and pay_state = #{payState}
		</if>
	</select>

	<select id="findEntityList" resultType="com.plateno.booking.model.GsOrderInnExternal">
		select
		order_code AS orderCode,
		member_id AS memberId,
		external_id AS externalId,
		third_order_id AS thirdOrderId,
		create_time AS createTime,
		create_oprt AS createOprt,
		update_time AS updateTime,
		update_oprt AS updateOprt,
		inn_id AS innId,
		third_order_state AS thirdOrderState,
		room_no AS roomNo,
		arr_date AS arrDate,
		dep_date AS depDate,
		ext AS ext,
		pay_state AS payState
		from gs_order_inn_external
		where 1 = 1
		<if test="orderCode != null">
			and order_code = #{orderCode}
		</if>
		<if test="memberId != null">
			and member_id = #{memberId}
		</if>
		<if test="externalId != null">
			and external_id = #{externalId}
		</if>
		<if test="thirdOrderId != null">
			and third_order_id = #{thirdOrderId}
		</if>
		<if test="createTime != null">
			and create_time = #{createTime}
		</if>
		<if test="createOprt != null">
			and create_oprt = #{createOprt}
		</if>
		<if test="updateTime != null">
			and update_time = #{updateTime}
		</if>
		<if test="updateOprt != null">
			and update_oprt = #{updateOprt}
		</if>
		<if test="innId != null">
			and inn_id = #{innId}
		</if>
		<if test="thirdOrderState != null">
			and third_order_state = #{thirdOrderState}
		</if>
		<if test="roomNo != null">
			and room_no = #{roomNo}
		</if>
		<if test="arrDate != null">
			and arr_date = #{arrDate}
		</if>
		<if test="depDate != null">
			and dep_date = #{depDate}
		</if>
		<if test="ext != null">
			and ext = #{ext}
		</if>
		<if test="payState != null">
			and pay_state = #{payState}
		</if>
	</select>


</mapper>