<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateno.booking.mapper.GsTransLogMapper">

	<insert id="addEntity">
		insert into gs_trans_log(order_code,third_code,account_code,inn_id,chain_id,trans_amount,end_of_day,remark,call_state,call_count,create_time,create_oprt,update_time,update_oprt,third_item_id,ext) values(#{orderCode},#{thirdCode},#{accountCode},#{innId},#{chainId},#{transAmount},#{endOfDay},#{remark},#{callState},#{callCount},#{createTime},#{createOprt},#{updateTime},#{updateOprt},#{thirdItemId},#{ext})
	</insert>

	<delete id="deleteEntity">
		delete from gs_trans_log where third_item_id = #{thirdItemId}
	</delete>

	<update id="updateEntity">
		update gs_trans_log
		<set>
			<if test="orderCode != null">
				order_code = #{orderCode},
			</if>
			<if test="thirdCode != null">
				third_code = #{thirdCode},
			</if>
			<if test="accountCode != null">
				account_code = #{accountCode},
			</if>
			<if test="innId != null">
				inn_id = #{innId},
			</if>
			<if test="chainId != null">
				chain_id = #{chainId},
			</if>
			<if test="transAmount != null">
				trans_amount = #{transAmount},
			</if>
			<if test="endOfDay != null">
				end_of_day = #{endOfDay},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="callState != null">
				call_state = #{callState},
			</if>
			<if test="callCount != null">
				call_count = #{callCount},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="createOprt != null">
				create_oprt = #{createOprt},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="updateOprt != null">
				update_oprt = #{updateOprt},
			</if>
			<if test="thirdItemId != null">
				third_item_id = #{thirdItemId},
			</if>
			<if test="ext != null">
				ext = #{ext},
			</if>
		</set>
		where third_item_id = #{thirdItemId}
	</update>

	<select id="findEntity" resultType="com.plateno.booking.model.GsTransLog">
		select
		order_code AS orderCode,
		third_code AS thirdCode,
		account_code AS accountCode,
		inn_id AS innId,
		chain_id AS chainId,
		trans_amount AS transAmount,
		end_of_day AS endOfDay,
		remark AS remark,
		call_state AS callState,
		call_count AS callCount,
		create_time AS createTime,
		create_oprt AS createOprt,
		update_time AS updateTime,
		update_oprt AS updateOprt,
		third_item_id AS thirdItemId,
		ext AS ext
		from gs_trans_log
		where 1 = 1
		<if test="orderCode != null">
			and order_code = #{orderCode}
		</if>
		<if test="thirdCode != null">
			and third_code = #{thirdCode}
		</if>
		<if test="accountCode != null">
			and account_code = #{accountCode}
		</if>
		<if test="innId != null">
			and inn_id = #{innId}
		</if>
		<if test="chainId != null">
			and chain_id = #{chainId}
		</if>
		<if test="transAmount != null">
			and trans_amount = #{transAmount}
		</if>
		<if test="endOfDay != null">
			and end_of_day = #{endOfDay}
		</if>
		<if test="remark != null">
			and remark = #{remark}
		</if>
		<if test="callState != null">
			and call_state = #{callState}
		</if>
		<if test="callCount != null">
			and call_count = #{callCount}
		</if>
		<if test="createTime != null">
			and create_time = #{createTime}
		</if>
		<if test="createOprt != null">
			and create_oprt = #{createOprt}
		</if>
		<if test="updateTime != null">
			and update_time = #{updateTime}
		</if>
		<if test="updateOprt != null">
			and update_oprt = #{updateOprt}
		</if>
		<if test="thirdItemId != null">
			and third_item_id = #{thirdItemId}
		</if>
		<if test="ext != null">
			and ext = #{ext}
		</if>
	</select>

	<select id="findEntityList" resultType="com.plateno.booking.model.GsTransLog">
		select
		order_code AS orderCode,
		third_code AS thirdCode,
		account_code AS accountCode,
		inn_id AS innId,
		chain_id AS chainId,
		trans_amount AS transAmount,
		end_of_day AS endOfDay,
		remark AS remark,
		call_state AS callState,
		call_count AS callCount,
		create_time AS createTime,
		create_oprt AS createOprt,
		update_time AS updateTime,
		update_oprt AS updateOprt,
		third_item_id AS thirdItemId,
		ext AS ext
		from gs_trans_log
		where 1 = 1
		<if test="orderCode != null">
			and order_code = #{orderCode}
		</if>
		<if test="thirdCode != null">
			and third_code = #{thirdCode}
		</if>
		<if test="accountCode != null">
			and account_code = #{accountCode}
		</if>
		<if test="innId != null">
			and inn_id = #{innId}
		</if>
		<if test="chainId != null">
			and chain_id = #{chainId}
		</if>
		<if test="transAmount != null">
			and trans_amount = #{transAmount}
		</if>
		<if test="endOfDay != null">
			and end_of_day = #{endOfDay}
		</if>
		<if test="remark != null">
			and remark = #{remark}
		</if>
		<if test="callState != null">
			and call_state = #{callState}
		</if>
		<if test="callCount != null">
			and call_count = #{callCount}
		</if>
		<if test="createTime != null">
			and create_time = #{createTime}
		</if>
		<if test="createOprt != null">
			and create_oprt = #{createOprt}
		</if>
		<if test="updateTime != null">
			and update_time = #{updateTime}
		</if>
		<if test="updateOprt != null">
			and update_oprt = #{updateOprt}
		</if>
		<if test="thirdItemId != null">
			and third_item_id = #{thirdItemId}
		</if>
		<if test="ext != null">
			and ext = #{ext}
		</if>
	</select>


</mapper>